<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_after">
        <observer name="free_product" instance="Zinrelo\LoyaltyRewards\Observer\AddFreeProduct"/>
    </event>

    <event name="customer_save_commit_after">
        <observer name="customerSaveAfterZinrelo" instance="Zinrelo\LoyaltyRewards\Observer\CustomerSaveAfter" />
    </event>

    <event name="customer_address_save_commit_after">
        <observer name="customerAddressSaveAfter" instance="Zinrelo\LoyaltyRewards\Observer\CustomerSaveAfter" />
    </event>

    <event name="customer_address_delete_commit_after">
        <observer name="customerAddressDeleteAfter" instance="Zinrelo\LoyaltyRewards\Observer\CustomerSaveAfter" />
    </event>

    <event name="review_save_commit_after">
        <observer name="productReviewSaveAfter" instance="Zinrelo\LoyaltyRewards\Observer\ProductReviewSaveAfter" />
    </event>

    <event name="checkout_cart_save_after">
        <observer name="removeZinreloDiscountZinrelo" instance="Zinrelo\LoyaltyRewards\Observer\RemoveZinreloDiscount"/>
    </event>

    <event name="customer_delete_after">
        <observer name="customerDeleteAfterZinrelo" instance="Zinrelo\LoyaltyRewards\Observer\CustomerDelete"/>
    </event>

    <event name="paypal_express_place_order_success">
        <observer name="orderCreateAfterApiZinrelo" instance="Zinrelo\LoyaltyRewards\Observer\CreateOrderAfter" />
    </event>
    
    <event name="sales_order_status_history_save_after">
        <observer name="orderUpdateZinrelo" instance="Zinrelo\LoyaltyRewards\Observer\OrderUpdate"/>
    </event>

    <event name="sales_order_invoice_save_commit_after">
        <observer name="invoiceSaveAfterZinrelo" instance="Zinrelo\LoyaltyRewards\Observer\OrderFullInvoicePaid"/>
    </event>

    <event name="sales_order_shipment_save_commit_after">
        <observer name="shipmentSaveAfterZinrelo" instance="Zinrelo\LoyaltyRewards\Observer\OrderShipped"/>
    </event>

    <event name="order_cancel_after">
        <observer name="orderCancelAfterZinrelo" instance="Zinrelo\LoyaltyRewards\Observer\OrderCancel"/>
    </event>

    <event name="sales_order_save_after">
        <observer name="OrderCompleteZinrelo" instance="Zinrelo\LoyaltyRewards\Observer\OrderComplete"/>
    </event>

    <event name="sales_order_creditmemo_save_after">
        <observer name="orderRefundZinrelo" instance="Zinrelo\LoyaltyRewards\Observer\OrderRefund"/>
    </event>
    <event name="sales_order_creditmemo_save_commit_after">
        <observer name="orderRefundZinrelo" instance="Zinrelo\LoyaltyRewards\Observer\OrderRefund"/>
    </event>
    <event name="admin_system_config_changed_section_zinrelo_loyaltyRewards">
        <observer name="configSaveObserver" instance="Zinrelo\LoyaltyRewards\Observer\ConfigSaveObserver"/>
    </event>
</config>
