<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Manage free product price after free-product redemption -->
    <event name="checkout_cart_product_add_after">
        <observer name="free_product" instance="TrueLoyal\LoyaltyRewards\Observer\AddFreeProduct"/>
    </event>
    <!-- After Customer save our code will run to send customer create/update api to TrueLoyal -->
    <event name="customer_save_commit_after">
        <observer name="customerSaveAfterTrueLoyal" instance="TrueLoyal\LoyaltyRewards\Observer\CustomerSaveAfter" />
    </event>
    <!-- After Customer address save our code will run to send customer create/update api to TrueLoyal -->
    <event name="customer_address_save_commit_after">
        <observer name="customerAddressSaveAfter" instance="TrueLoyal\LoyaltyRewards\Observer\CustomerSaveAfter" />
    </event>
    <!-- After Customer address develete our code will run to send customer update api to TrueLoyal -->
    <event name="customer_address_delete_commit_after">
        <observer name="customerAddressDeleteAfter" instance="TrueLoyal\LoyaltyRewards\Observer\CustomerSaveAfter" />
    </event>
    <!-- Send review create-approve event to trueloyal -->
    <event name="review_save_commit_after">
        <observer name="productReviewSaveAfter" instance="TrueLoyal\LoyaltyRewards\Observer\ProductReviewSaveAfter" />
    </event>
    <!-- Remove free product from cart when all item removed -->
    <event name="checkout_cart_save_after">
        <observer name="removeTrueLoyalDiscountTrueLoyal" instance="TrueLoyal\LoyaltyRewards\Observer\RemoveTrueLoyalDiscount"/>
    </event>
    <!-- Send customer delete event to trueloyal -->
    <event name="customer_delete_after">
        <observer name="customerDeleteAfterTrueLoyal" instance="TrueLoyal\LoyaltyRewards\Observer\CustomerDelete"/>
    </event>
    <!-- Send order update event to trueloyal -->
    <event name="sales_order_status_history_save_after">
        <observer name="orderUpdateTrueLoyal" instance="TrueLoyal\LoyaltyRewards\Observer\OrderUpdate"/>
    </event>
    <!-- Send order invoice paid event to trueloyal -->
    <event name="sales_order_invoice_save_commit_after">
        <observer name="invoiceSaveAfterTrueLoyal" instance="TrueLoyal\LoyaltyRewards\Observer\OrderFullInvoicePaid"/>
    </event>
    <!-- Send order shipped event to trueloyal -->
    <event name="sales_order_shipment_save_commit_after">
        <observer name="shipmentSaveAfterTrueLoyal" instance="TrueLoyal\LoyaltyRewards\Observer\OrderShipped"/>
    </event>
    <!-- Send order cancel event to trueloyal -->
    <event name="order_cancel_after">
        <observer name="orderCancelAfterTrueLoyal" instance="TrueLoyal\LoyaltyRewards\Observer\OrderCancel"/>
    </event>
    <!-- Send order refund  event to trueloyal when order partial or Full refunded
        This event will call only for Magento version 2.3.0
     -->
    <event name="sales_order_creditmemo_save_after">
        <observer name="orderRefundTrueLoyal" instance="TrueLoyal\LoyaltyRewards\Observer\OrderRefund"/>
    </event>
    <!-- Send order refund  event to trueloyal when order partial or Full refunded -->
    <event name="sales_order_creditmemo_save_commit_after">
        <observer name="orderRefundTrueLoyal" instance="TrueLoyal\LoyaltyRewards\Observer\OrderRefund"/>
    </event>
    <!-- Clear trueloyal cookie customer logged out -->
    <event name="customer_logout">
        <observer name="reset-cokkies-logout" instance="TrueLoyal\LoyaltyRewards\Observer\Customer\CustomerLogoutObserver" />
    </event>
    <!-- Call TrueLoyal API after Config Save to Get Webhook Url -->
    <event name="admin_system_config_changed_section_trueloyal_loyaltyRewards">
        <observer name="configSaveObserver" instance="TrueLoyal\LoyaltyRewards\Observer\ConfigSaveObserver"/>
    </event>
</config>
