<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="trueloyal_loyaltyRewards" sortOrder="999" translate="label">
            <label>TrueLoyal Loyalty Rewards</label>
        </tab>
        <section id="trueloyal_loyaltyRewards" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
            <label>TrueLoyal Settings</label>
            <tab>trueloyal_loyaltyRewards</tab>
            <resource>TrueLoyal_LoyaltyRewards::config</resource>
            <group id="settings" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
                <label>Settings</label>
                <field id="loyalty_rewards_active" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="10" translate="label" type="select">
                    <label>Enable the loyalty rewards module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auto_enrollment" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auto Enrollment</label>
                    <comment>Enroll the member in the program automatically.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="opt_in_field_name" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Opt-in Attribute Code</label>
                    <comment>This is required only for Manual Enrollment. Please ensure customer attribute is present.</comment>
                    <depends>
                        <field id="auto_enrollment">0</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
                <field id="partner_id" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="20" translate="label" type="text">
                    <label>Add Partner id</label>
                    <comment>
                        <![CDATA[
                            To get <strong>Partner id</strong> refer to <a href="https://help.trueloyal.com/reference/authentication" target="_blank">URL</a>.
                        ]]>
                    </comment>
                    <depends>
                        <field id="loyalty_rewards_active">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
                <field id="api_key" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="30" translate="label" type="text">
                    <label>Add API Key</label>
                    <comment>
                        <![CDATA[
                            To get <strong>API Key</strong> refer to <a href="https://help.trueloyal.com/reference/authentication" target="_blank">URL</a>.
                        ]]>
                    </comment>
                    <depends>
                        <field id="loyalty_rewards_active">1</field>
                    </depends>
                    <validate>required-entry</validate>
                </field>
                <field id="api_key_identifier" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="30" translate="label" type="text">
                    <label>Add API Key Identifier</label>
                    <comment>
                        <![CDATA[
                            To get <strong>API Key Identifier</strong> refer to <a href="https://help.trueloyal.com/reference/web-api-authentication#where-can-i-find-api-key-and-api-key-identifier" target="_blank">URL</a>.
                        ]]>
                    </comment>
                    <depends>
                        <field id="loyalty_rewards_active">1</field>
                    </depends>
                </field>

                <field id="web_hook_url" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="35" translate="label" type="text">
                    <label>Webhook URL</label>
                    <comment><![CDATA[This field is optional.]]></comment>
                    <depends>
                        <field id="loyalty_rewards_active">1</field>
                    </depends>
                </field>

                <field id="hide_for_guests" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="36" translate="label" type="select">
                    <label>Hide for guest users</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="loyalty_rewards_active">1</field>
                    </depends>
                    <comment>
                        <![CDATA[
                            Please note that this will remove TrueLoyal dashboard as well as points on product page for all guest users.
                        ]]>
                    </comment>
                </field>

                <field id="product_page_rewards_point_enable" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="38" translate="label" type="select">
                    <label>Enable reward points text on product pages</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="loyalty_rewards_active">1</field>
                    </depends>
                </field>

                <field id="product_page_reward_label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="40" translate="label" type="text" canRestore="1">
                    <label>Reward points text on product pages</label>
                    <comment>
                        <![CDATA[
                            Use <strong>{{EARN_POINTS}}</strong> for showing the value of points that can be earned.
                        ]]>
                    </comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="product_page_rewards_point_enable">1</field>
                    </depends>
                </field>

                <field id="cart_page_rewards_point_enable" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="41" translate="label" type="select">
                    <label>Enable reward points text on cart page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="loyalty_rewards_active">1</field>
                    </depends>
                </field>

                <field id="cart_page_reward_label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="42" translate="label" type="text" canRestore="1">
                    <label>Reward points text on cart page</label>
                    <comment>
                        <![CDATA[
                            Use <strong>{{EARN_POINTS}}</strong> for showing the value of points that can be earned.
                        ]]>
                    </comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="cart_page_rewards_point_enable">1</field>
                    </depends>
                </field>

                <field id="rewards_event_drop_down_active" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="43" translate="label" type="select">
                    <label>Enable in-cart redemption</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="loyalty_rewards_active">1</field>
                    </depends>
                    <comment> Enable to view loyality rewards redeem points dropdown</comment>
                </field>

                <field id="cart_page_reward_dropdown_label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="44" translate="label" type="text" canRestore="1">
                    <label>In-cart redemption text</label>
                    <comment>
                        <![CDATA[Use <strong>{{AVAILABLE_POINTS}}</strong> for showing the currently available points]]>
                    </comment>
                    <validate>required-entry</validate>
                </field>

                <field id="free_shipping_label" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="45" translate="label" type="text" canRestore="1">
                    <label>Free Shipping Reward Label</label>
                    <validate>required-entry</validate>
                </field>

                <field id="reward_events" translate="label" type="multiselect" sortOrder="60" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Reward Events</label>
                    <source_model>TrueLoyal\LoyaltyRewards\Model\System\Config\EventsSelection</source_model>
                    <comment>Only selected events will be sent to TrueLoyal</comment>
                    <depends>
                        <field id="loyalty_rewards_active">1</field>
                    </depends>
                    <validate>validate-select</validate>
                </field>
                <field id="abandoned_cart_time" showInDefault="1" showInStore="0" showInWebsite="1" sortOrder="70" translate="label" type="text" canRestore="1">
                    <label>Cart session timeout</label>
                    <comment>
                        <![CDATA[
                        In-cart rewards that are not used in this time will be rolled back.
                        <strong>(Time in minutes)</strong>
                        ]]>
                    </comment>
                    <depends>
                        <field id="loyalty_rewards_active">1</field>
                    </depends>
                    <validate>required-entry validate-digits validate-greater-than-zero</validate>
                </field>
                <field id="languages_mapping" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="49" translate="label" type="text" canRestore="1">
                    <label>Languages(Locale)</label>
                    <comment>Value Pass Like : {"fr": "french", "es": "spanish", "hi": "custom language one"}</comment>
                </field>

                <field id="preferred_language" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="50" translate="label" type="select">
                    <label>Preferred Language</label>
                    <comment>
                        <![CDATA[
                            Select the preferred language from the available ones in TrueLoyal. This language will be used in the customer's EUD.<br>
                            Make sure the Rewards and Activities are translated into this language.<br>
                            This field is optional. If not selected, the preferred language will be the default one in TrueLoyal.
                        ]]>
                    </comment>
                    <source_model>TrueLoyal\LoyaltyRewards\Model\System\Config\PreferredLanguage</source_model>
                </field>

                <field id="member_identifier_prefix" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="74" translate="label" type="text">
                    <label>Member Identifier Prefix</label>
                    <comment>This field is optional.</comment>
                </field>

                <field id="member_identifier" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="75" translate="label" type="select">
                    <label>Member Identifier</label>
                    <comment>Choose whether to use Member ID or Member Email when sending requests to TrueLoyal.</comment>
                    <source_model>TrueLoyal\LoyaltyRewards\Model\System\Config\MemberIdentifier</source_model>
                </field>

                <group id="custom_member_attributes" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="80" translate="label">
                    <label>Custom Member Attributes</label>
                    <comment>
                        <![CDATA[
                            This field is optional<br>
                            Enter names of TrueLoyal Member Custom Attributes corresponding to Magento data fields below.<br>
                            <strong>Note:</strong> These custom attributes must be created in TrueLoyal before typing them here.
                        ]]>
                    </comment>
                    <field id="store_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
                        <label>Store ID</label>
                    </field>
                    <field id="store_code" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="20" translate="label" type="text">
                        <label>Store Code</label>
                    </field>
                    <field id="store_currency" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="30" translate="label" type="text">
                        <label>Store Currency</label>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
